.score-list {
  font-family: 'Arial', sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    color: #333;
  }

  input, select {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: #4CAF50;
    }
  }


  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th, td {
      text-align: left;
      padding: 8px;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr:hover {
      background-color: #f1f1f1;
    }
  }

  button {
    background-color: #7e8dff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    &:hover {
      background-color: #6b7cfe;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input, select {
      padding: 8px;
      margin: 5px 0;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border-color: #4CAF50;
      }
    }
  }

  .create-score-btn {
    background-color: #7e8dff; /* Grüner Hintergrund */
    color: white; /* Weiße Schriftfarbe */
    padding: 10px 20px; /* Polsterung */
    margin: 20px 0; /* Margin oben und unten */
    border: none; /* Kein Rand */
    cursor: pointer; /* Cursor als Zeiger */
    border-radius: 5px; /* Abgerundete Ecken */
    font-size: 16px; /* Schriftgröße */
  }

  .create-score-btn:hover {
    background-color: #6b7cfe; /* Dunklerer Grünton beim Hover */
  }
}
