<div class="score-list">
  <h2>Benotungen</h2>
  <button (click)="openCreateScoreForm()" class="create-score-btn">Benotung vornehmen</button>
  @if(showCreateScoreForm) {
  <div>
    <form [formGroup]="createScoreForm" (ngSubmit)="createScore()">
      <label for="points">Punkte</label>
      <input type="number" formControlName="points" placeholder="Punkte" required>
      <label for="comment">Kommentar</label>
      <input type="text" formControlName="comment" placeholder="Kommentar" required>
      <label for="grade_id">Note</label>
      <input type="number" formControlName="grade_id" placeholder="Note" required>
      <label for="exam_id">Klausur</label>
      <select type="number" formControlName="exam_id">
        <option *ngFor="let exam of exams"
        [ngValue]="exam.ID">
        {{ exam.name }}
      </option>
      </select>
      <label for="student_id">Schüler</label>
      <select type="number" formControlName="student_id">
        <option *ngFor="let student of students" [ngValue]="student.ID">
        {{ student.vorname }} {{student.nachname}}
        </option>
      </select>

      <button type="submit">{{ editingScore ? 'Benotung aktualisieren' : 'Benotung übermitteln' }}</button>
    </form>
  </div>
}
@if(!showCreateScoreForm) {
  <table>
    <thead>
      <tr>
        <th>Punkte</th>
        <th>Kommentar</th>
        <th>Note</th>
        <th>Klausur</th>
        <th>Schüler</th>
        <th>Aktionen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let score of scores">
        <td>{{ score.points }}</td>
        <td>{{ score.comment }}</td>
        <td>{{ score.grade_id }} </td>
        <td>{{ score.examName || score.exam_id }}</td>
        <td>{{ score.studentName || score.student_id }}</td>
        <td>
          <button (click)="editScore(score)">Bearbeiten</button>
          <button (click)="deleteScore(score.ID)">Löschen</button>
        </td>
      </tr>
    </tbody>
  </table>
}
</div>
