<div class="school-class-list">
  <h2>Klassenliste</h2>
  @if(!showStudentOverview) {
  <button (click)="openCreateClassForm()" class="create-class-btn">Klasse anlegen</button>
  @if(showCreateClassForm) {
  <div>
    <form [formGroup]="createClassForm" (ngSubmit)="createClass()">
      <input formControlName="name" placeholder="Name" required>
      <input formControlName="is_active" type="checkbox"> Aktiv
      <input formControlName="year" placeholder="Jahr" required>
      <input type="number" formControlName="school_id" placeholder="Schul-ID" required>
      <input type="number" formControlName="teacher_id" placeholder="Lehrer-ID" required>
      <button type="submit">{{ editingClass ? 'Klasse aktualisieren' : 'Klasse erstellen' }}</button>
    </form>
  </div>
}
<table>
  <thead>
    <tr>
      <th>Klasse</th>
      <th>Status</th>
      <th>Jahr</th>
      <th>Schule</th>
      <th>Klassenlehrer</th>
      <th>Aktionen</th>
    </tr>
    <!-- Kopfzeile -->
  </thead>
  <tbody>
    <ng-container *ngFor="let class of classes">
    <tr>
      <!-- Bestehende Zellen für Klasse-Details -->
      <td>{{ class.name }}</td>
      <td>{{ class.is_active ? 'Ja' : 'Nein' }}</td>
      <td>{{ class.year }}</td>
      <td>{{ class.schoolName }}</td>
      <td>{{ class.teacherName }}</td>
      <td>
        <button (click)="editClass(class)">Bearbeiten</button>
        <button (click)="deleteClass(class.ID)">Löschen</button>
        <button (click)="toggleStudentsDisplay(class)">Alle Schüler anzeigen</button>
      </td>
    </tr>
    <tr *ngIf="class === selectedClass">
      <td colspan="7"> <!-- Achten Sie darauf, dass colspan der Anzahl der Spalten Ihrer Tabelle entspricht -->
        <table>
          <thead>
            <tr>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>Geburtstag</th>
              <th>Aktionen</th>
            </tr>
          </thead>
          <tr *ngFor="let student of class.students">
            <td>{{ student.vorname }} </td>
            <td>{{ student.nachname }} </td>
            <td>{{ student.date_of_birth }}</td>
            <td><button (click)="openStudentOverview()">Schüler anzeigen</button></td>
          </tr>
        </table>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
}
@if(showStudentOverview) {

}
