<div class="school-class-list">
  <h2>Klassenliste</h2>
  @if(!showStudentOverview) {
  <button (click)="openCreateClassForm()" class="create-class-btn">Klasse anlegen</button>
  @if(showCreateClassForm) {
  <div>
    <form [formGroup]="createClassForm" (ngSubmit)="createClass()">
      <input formControlName="name" placeholder="Name" required>
      <input formControlName="is_active" type="checkbox"> Aktiv
      <input formControlName="year" placeholder="Jahr" required>
      <input type="number" formControlName="school_id" placeholder="Schul-ID" required>
      <input type="number" formControlName="teacher_id" placeholder="Lehrer-ID" required>
      <button type="submit">{{ editingClass ? 'Klasse aktualisieren' : 'Klasse erstellen' }}</button>
    </form>
  </div>
}
<table>
  <thead>
    <tr>
      <th>Klasse</th>
      <th>Status</th>
      <th>Jahr</th>
      <th>Schule</th>
      <th>Klassenlehrer</th>
      <th>Aktionen</th>
    </tr>
    <!-- Kopfzeile -->
  </thead>
  <tbody>
    <ng-container *ngFor="let class of classes">
    <tr>
      <!-- Bestehende Zellen für Klasse-Details -->
      <td>{{ class.name }}</td>
      <td>{{ class.is_active ? 'Ja' : 'Nein' }}</td>
      <td>{{ class.year }}</td>
      <td>{{ class.schoolName }}</td>
      <td>{{ class.teacherName }}</td>
      <td>
        <button (click)="editClass(class)">Bearbeiten</button>
        <button (click)="deleteClass(class.ID)">Löschen</button>
        <button (click)="toggleStudentsDisplay(class)">Alle Schüler anzeigen</button>
      </td>
    </tr>
    <tr *ngIf="class === selectedClass">
      <td colspan="7"> <!-- Achten Sie darauf, dass colspan der Anzahl der Spalten Ihrer Tabelle entspricht -->
        <table>
          <thead>
            <tr>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>Geburtstag</th>
              <th>Aktionen</th>
            </tr>
          </thead>
          <tr *ngFor="let student of class.students">
            <td>{{ student.vorname }} </td>
            <td>{{ student.nachname }} </td>
            <td>{{ student.date_of_birth }}</td>
            <td><button (click)="openStudentOverview(student.ID)">Schüler anzeigen</button></td>
          </tr>
        </table>
      </td>
    </tr>
  </ng-container>
  </tbody>
</table>
}
@if(showStudentOverview) {
  <div class="studentContainer">
  <table class="studentTable">
    <thead class="studentThead">
      <tr class="studentTr">
        <th class="studentTh">Name</th>
        <th class="studentTh">Klasse</th>
        <th class="studentTh">Geburtstag</th>
        <th class="studentTh">Addresse</th>
        <th class="studentTh">Aktionen</th>
      </tr>
    </thead>
    <tbody class="studentTbody">
      <tr class="studentTr">
        <td class="studentTd">{{ studentData?.vorname }} {{studentData?.nachname}}</td>
        <td class="studentTd">{{ studentData?.className }}</td>
        <td class="studentTd">{{ studentData?.date_of_birth }} </td>
        <td class="studentTd">{{ studentData?.address?.postal }} {{ studentData?.address?.city}}, {{studentData?.address?.street}} {{studentData?.address?.number}}</td>
        <td class="studentTd"><button> Benotung vornehmen </button>
        </td>
      </tr>
    </tbody>
  </table>
  <h2 class="score-header"> Benotungen des Schülers</h2>
  <table>
    <thead class="studentThead">
      <tr class="studentTr">
        <th class="studentTh">Klausur</th>
        <th class="studentTh">Kommentar</th>
        <th class="studentTh">Punkte</th>
      </tr>
    </thead>
    <tbody class="studentTbody">
      <tr *ngFor="let score of filteredScores" class="studentTr">
        <td class="studentTd">{{ score.examName}}</td>
        <td class="studentTd">{{ score.comment }}</td>
        <td class="studentTd">{{ score.points }} </td>
      </tr>
    </tbody>
  </table>
</div>
}
