@if (schoolClass !== null) {
  <button (click)="openSchoolClassSelector()" class="toolbar-school-class-button" mat-button>
    <span>Klasse: {{schoolClass}}</span>
  </button>
  }

  <ng-template #schoolClassDialogContent>
    <mat-form-field appearance="fill">
      <mat-label>Klasse auswählen</mat-label>
      <mat-select [formControl]="schoolClassSelect" data-cy="class-select">
        <mat-option
          *ngFor="let schoolClass of schoolClassList|keyvalue; index as i"
          [value]="schoolClass.value"
          data-cy="school-class-option"
        >
          {{schoolClass.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-template>
