<div class="container">
  <button (click)="redirectToClassList()" class="list-button">Klassenliste</button>
  <button (click)="redirectToStudentList()" class="list-button">Schülerliste</button>
  <button (click)="redirectToExamList()" class="list-button">Klausurenliste</button>
  <button (click)="redirectToScoreList()" class="list-button">Benotungen</button>
  <button class="list-button">Button 3</button>
  <button class="list-button">Button 3</button>
  <button class="list-button">Button 3</button>
  <button class="list-button">Button 3</button>
  <button class="list-button">Button 3</button>
  <!-- Fügen Sie weitere Buttons hier hinzu -->
</div>
